{% extends "base.html" %}
{% load static %}

{% block title %}All tweets{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "tweets/css/base.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "tweets/css/index.css" %}" />
{% endblock %}

{% block content %}
    {% if tweet_list %}
        <div id="tweet_list">
        {% for tweet in tweet_list %}
            <div class="block">
                <a href="{% url 'tweets:tweet' tweet.id %}">{{ tweet.text }}</a> from user
                <a href="{% url 'tweets:user_detail' tweet.owner.pk %}">{{ tweet.owner.username }}</a>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="invisible" id="no_tweet_list">
            <p>No tweets are available.</p>
            <p><a href="{% url 'tweets:user_list' %}">Start following someone</a></p>
            <p>or <a href="{% url 'tweets:create_tweet' %}">create tweet yourself</a></p>
        </div>
    {% endif %}
{% endblock %}