{% extends "base.html" %}
{% load static %}

{% block extrascripts %}
{{ block.super }} 


{% endblock %}

{% block title %}User information{% endblock %}

{% block content %}

    You're looking at the details of user {{ user.username }}

    {% if request.user != user %}

        {% csrf_token %}
        <button id="follow_button" type="button" class="btn"
		{% if following %}
			onclick="changeFollow({{ user.id }},'unfollow','follow_button')">Unfollow</button>
		{% else %}
			onclick="changeFollow({{ user.id }},'follow','follow_button')">Follow</button>
		{% endif %}
		
    {% endif %}

{% endblock %}
