#content {
    text-align: center;
}

.action {
    border: 2px solid #a5a5a5;

    display: inline-block;

    margin: 10px auto auto;
    padding: 5px;

}

.action .dates {
    padding: 5px;
    border-bottom: 1px solid #a5a5a5;
}

.action .text {
    padding: 5px;
    width: 500px;
    height: 50px;
}

.action.Easy {
    background: rgba(0, 255, 16, 0.63);
}

.action.Normal {
    background: rgba(255, 248, 3, 0.56);
}

.action.Hard {
    background: rgba(255, 6, 0, 0.63);
}